* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', Arial, sans-serif;
}

/* BLOCK */
.login {}

/* ELEMENTS */

.login__title {
    width: 385px;
    height: 180px;
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
}

.login__hello-image {
    width: 462px;
    height: 501px;
}

.login__field {
    width: 343px;
    height: 251px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color:#222222;
}

.login__label {
    width: 343px;
    height: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.login__input {
    width: 343px;
    height: 44px;
    border-radius: 10px;
    justify-content: space-between;
    color: #222222;
}

.login__notice {
    width: 343px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}

.login__eye {
    width: 24px;
    height: 24px;
}

.login__continue-button {
    display: block;
    width: 343px;
    height: 48px;
    border-radius: 10px;
    background-color: #222222;

    color: white;
    font-weight: 500;
    font-size: 16px;

    text-align: center;     
    line-height: 48px;      
    text-decoration: none;  
}